/* LoginUser.css */

.container3 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #be7373;
    border-radius: 5px;
    background-color: #a11919;
  }
  
  .input-container2 {
    margin-bottom: 15px;
  }
  
  .input-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #c24a4a;
    border-radius: 5px;
  }
  
  .error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  